/.vs/INumberTest/DesignTimeBuild/.dtbcache.v2
/.vs/INumberTest/v17/.futdcache.v1
/.vs/INumberTest/v17/.suo
/.vs/INumberTest/v17/TestStore/0/000.testlog
/.vs/INumberTest/v17/TestStore/0/testlog.manifest
/INumberTestTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/INumberTestTests/bin/Debug/net6.0/INumberTest.deps.json
/INumberTestTests/bin/Debug/net6.0/INumberTest.dll
/INumberTestTests/bin/Debug/net6.0/INumberTest.exe
/INumberTestTests/bin/Debug/net6.0/INumberTest.pdb
/INumberTestTests/bin/Debug/net6.0/INumberTest.runtimeconfig.json
/INumberTestTests/bin/Debug/net6.0/INumberTestTests.deps.json
/INumberTestTests/bin/Debug/net6.0/INumberTestTests.dll
/INumberTestTests/bin/Debug/net6.0/INumberTestTests.pdb
/INumberTestTests/bin/Debug/net6.0/INumberTestTests.runtimeconfig.json
/INumberTestTests/bin/Debug/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/INumberTestTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/INumberTestTests/bin/Debug/net6.0/Newtonsoft.Json.dll
/INumberTestTests/bin/Debug/net6.0/NuGet.Frameworks.dll
/INumberTestTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/testhost.dll
/INumberTestTests/bin/Debug/net6.0/testhost.exe
/INumberTestTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/INumberTestTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/INumberTestTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.AssemblyInfo.cs
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.AssemblyInfoInputs.cache
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.GeneratedMSBuildEditorConfig.editorconfig
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.assets.cache
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.csproj.AssemblyReference.cache
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.csproj.BuildWithSkipAnalyzers
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.csproj.CopyComplete
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.csproj.CoreCompileInputs.cache
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.csproj.FileListAbsolute.txt
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.dll
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.genruntimeconfig.cache
/INumberTestTests/obj/Debug/net6.0/INumberTestTests.pdb
/INumberTestTests/obj/Debug/net6.0/ref/INumberTestTests.dll
/INumberTestTests/obj/Debug/net6.0/refint/INumberTestTests.dll
/INumberTestTests/obj/INumberTestTests.csproj.nuget.dgspec.json
/INumberTestTests/obj/INumberTestTests.csproj.nuget.g.props
/INumberTestTests/obj/INumberTestTests.csproj.nuget.g.targets
/INumberTestTests/obj/project.assets.json
/INumberTestTests/obj/project.nuget.cache
/INumberTest/bin/Debug/net6.0/INumberTest.deps.json
/INumberTest/bin/Debug/net6.0/INumberTest.dll
/INumberTest/bin/Debug/net6.0/INumberTest.exe
/INumberTest/bin/Debug/net6.0/INumberTest.pdb
/INumberTest/bin/Debug/net6.0/INumberTest.runtimeconfig.json
/INumberTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/INumberTest/obj/Debug/net6.0/INumberTest.AssemblyInfo.cs
/INumberTest/obj/Debug/net6.0/INumberTest.AssemblyInfoInputs.cache
/INumberTest/obj/Debug/net6.0/INumberTest.GeneratedMSBuildEditorConfig.editorconfig
/INumberTest/obj/Debug/net6.0/INumberTest.GlobalUsings.g.cs
/INumberTest/obj/Debug/net6.0/INumberTest.assets.cache
/INumberTest/obj/Debug/net6.0/INumberTest.csproj.AssemblyReference.cache
/INumberTest/obj/Debug/net6.0/INumberTest.csproj.BuildWithSkipAnalyzers
/INumberTest/obj/Debug/net6.0/INumberTest.csproj.CoreCompileInputs.cache
/INumberTest/obj/Debug/net6.0/INumberTest.csproj.FileListAbsolute.txt
/INumberTest/obj/Debug/net6.0/INumberTest.dll
/INumberTest/obj/Debug/net6.0/INumberTest.genruntimeconfig.cache
/INumberTest/obj/Debug/net6.0/INumberTest.pdb
/INumberTest/obj/Debug/net6.0/apphost.exe
/INumberTest/obj/Debug/net6.0/ref/INumberTest.dll
/INumberTest/obj/Debug/net6.0/refint/INumberTest.dll
/INumberTest/obj/INumberTest.csproj.nuget.dgspec.json
/INumberTest/obj/INumberTest.csproj.nuget.g.props
/INumberTest/obj/INumberTest.csproj.nuget.g.targets
/INumberTest/obj/project.assets.json
/INumberTest/obj/project.nuget.cache
